.wp-block-themeisle-blocks-testimonials {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.wp-block-group__inner-container {
  display: grid;
  grid-template-columns: repeat(7, minmax(25rem, 1fr));
  grid-template-rows: min-content min-content;
  grid-column-gap: 3rem;
  overflow-x: scroll;
  padding: 0 2rem;
}

.innerblocks-wrap .innerblocks-wrap .innerblocks-wrap > div {
  border-bottom: 1px solid #333;
}

.innerblocks-wrap .innerblocks-wrap .innerblocks-wrap > div:last-child {
  margin-top: 2rem;
}
